---
---
body {
	height: 100vh;
	overflow: hidden;
	margin: 0;
	box-sizing: border-box;
	display: grid;
}

aside {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 35%;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

main {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

{% include css/carousel.css %}
