/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
.home, .schedule h2 {
	color: #f8f8f8;
}

.home > h1 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 5em;
}

#home {
  background: url(/img/oakland-skyline-night-baybridge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
#about {
  background:
  	linear-gradient(
		rgba(0,0,0,0.45),
		rgba(0,0,0,0.45)
	),
    url(/img/jacklondon.jpg) no-repeat center center fixed;
}
*/

#schedule {
  background-color: white;
}


#schedule {
  background:
  	linear-gradient(
		rgba(0,0,0,0.75),
		rgba(0,0,0,0.75)
	),
    url(/img/port3.jpg) no-repeat center center fixed;
}


#home, #about, #schedule {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.list-group-item > time {
	float: right;
	margin-right: 1.5rem;
	padding: 0 1.5rem;
	font-size: 1.6rem;
	line-height: 4rem;
}

#google_map {
  height: 100%;
  width: 100%;
  position: relative;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.thumbnail.sponsor > a> img {
	height: 65px;
}

.thumbnail.mentor > img {
	height: 250px;
}

span > time {
	font-weight: bold;
	font-size: 2rem;
}

span.text-right {
	float: right;
}

#hidden_iframe {
	display: none;
}

.fup48 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

#schedule a.list-group-item {
	cursor: default;
}

.img-thumbnail {
	border: 2px solid transparent;
}

a.linkedin {
	color: #0077b5;
}

a.twitter {
	color: #55acee;
}
