/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
section {
	display: block;
}

.navbar-default {
	background-color:#F90;
	border-color:#FFF;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand {
	color:#FFF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color:#F90;
	background-color:#FFF;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a{

color:#Fff;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a{
 color:#F90-webkit-transition-property:background-color;/*safari*/
                                                                    -webkit-transition-duration:1s;
																	transition-property:background-color;
																	transition-duration:1s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#FFF;}
/* padded section */
.pad-section {
  padding: 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
/*.home, .schedule h2, .schedule h3 {
  color: #ff3878; font-size:50px; font-family:"MS Serif", "New York", serif;
}*/

.home h1 {
  font-size: 5em;
}

.home h1 {
  /* text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
  color: darkgray;
  mix-blend-mode: difference;
}

h2.unblend {
  mix-blend-mode: hard-light; position:absolute; margin-top:300px; margin-left:600px ; z-index:9999;
}
.home .icon {
  color: #d9534f;
}

.pic-wrapper {
  /*position: absolute;
  width: 100%;
  height: 499;
  overflow: hidden;*/
}

/*figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  animation: slideShow 40s linear infinite 0s;
  -o-animation: slideShow 40s linear infinite 0s;
  -moz-animation: slideShow 40s linear infinite 0s;
  -webkit-animation: slideShow 40s linear infinite 0s;
}

.pic-1 {
  opacity: 1;
  background: url(/img/Oakland_Skyline_-_Lake_Merritt.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(/img/slideshow/sales-strategy.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(/img/slideshow/food-node.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(/img/slideshow/marketing-strategy.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.pic-5 {
  animation-delay: 24s;
  -o-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -webkit-animation-delay: 24s;
  background: url(/img/slideshow/business-strategy.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.pic-6 {
  animation-delay: 30s;
  -o-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -webkit-animation-delay: 30s;
  background: url(/img/slideshow/tristan_opt.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.pic-7 {
  animation-delay: 36s;
  -o-animation-delay: 36s;
  -moz-animation-delay: 36s;
  -webkit-animation-delay: 36s;
  background: url(/img/slideshow/web-strategy.jpg) no-repeat center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}



@keyframes
slideShow {
     0% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
}

@-o-keyframes
slideShow {
     0% {
    opacity: 0;
    -o-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -o-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -o-transform: scale(1);
  }
}

@-moz-keyframes
slideShow {
     0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}

@-webkit-keyframes
slideShow {
     0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}*/

/*#schedule {
  background:
    linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)
  ),
    url(/img/home-office.jpg) no-repeat center center fixed;
}




#home, #about, #schedule {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about{margin-top:0px; background-color:#CCC; padding:100px;}


#sponsors {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#CCC;
}*/

.list-group-item > time {
  float: right;
  margin-right: 1.5rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  line-height: 4rem;
  color:#FFF;
}

#google_map {
  height: 100%;
  width: 100%;
  position: relative;
}

footer {
  padding: 20px 0;
}

.thumbnail.sponsor > a> img {
  height: 65px;
}

.mentor > .thumbnail > img {
  height: 250px;
}

span > time {
  font-weight: bold;
  font-size: 2rem;
}

span.text-right {
  float: right;
}


.fup48 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

#schedule a.list-group-item {
  cursor: default;
}

.img-thumbnail {
  border: 2px solid transparent;
}

a.linkedin {
  color: #0077b5;
}

a.twitter {
  color: #55acee;
}

a.google-plus {
  color: #d34836;
}

a.facebook {
  color: #3b5998;
}

blockquote {
  text-align: center;
  border: 0;
}

blockquote > footer {
  text-align: right;
}

.schedule blockquote > .text-muted {
  color: #666;
}
/*#carousel {
	width: 100%;
	height: 499px;
	display: block;
	overflow: hidden;
}*/
.slide-item {
	display: block; 
	position:relative;
	background-position: center;
	height: 499px;
	overflow: hidden;
}
.slide-script {
	display: block; 
	position:relative;
	text-align:center; font-family:"Times New Roman", Times, serif;
	
	height: 200px; margin-top:60px;
}
.tagsf{width:100%; text-align:center; position:absolute; z-index:999999; font-family:"Times New Roman", Times, serif; font-size:50px; margin-top:70px;}
.tagss{width:100%; text-align:center;  font-family:"Times New Roman", Times, serif; font-size:40px; margin-top:300px; height:100px;}
#slide1 {
	background-image:url('/demo/images/ban1.png');
}
#slide2 {
	background-image:url('/demo/images/ban2.png');
}
#slide3 {
	background-image:url('/demo/images/ban3.png');
}
#slide4 {
	background-image:url('/demo/images/ban4.png');
}
#slide5 {
	background-image:url('/demo/images/ban5.png');
}
#slide6 {
	background-image:url('/demo/images/ban6.png');
}
#slide7 {
	background-image:url('/demo/images/ban7.png');
}
.quote_slider{width:100%; height:272px; background-image:url(../img/slideshow/galaxy.png);}
#slides1{font-size:40px; color:#CCC;}
#slides2{font-size:40px; color:#CCC;}
#slides3{font-size:40px; color:#CCC;}
#slides4{font-size:40px; color:#CCC;}
#slides5{font-size:40px; color:#CCC;}
#slides6{font-size:40px; color:#CCC;}
#slides7{font-size:40px; color:#CCC;}
/*.row_sche{height:200px; font-family:"Courier New", Courier, monospace; font-size:100px; color:#F3F;}*/
.event_ed{ border:1.5px solid #ff3878; border-radius:5px; text-align:center; margin-top:4px;padding:10px;}
.scr_bs{text-align:left; }
.time_bs{width:100px; height:50px; background-color:#ff3878; border-radius:5px; text-align:center; font-size:14px; color:#FFF; float:left; padding:13px; margin-top:10px;}
.box_cont{background-color:#F90; border-radius:7px; height:150px;}
.box_cont h2, .box_cont h3 {color:#FFF;}
.box_cont h2 {font-style:italic; padding-top:30px;}
.box_cont h2:before {content:'"';}
.box_cont h2:after {content:'"';}
#group-item{border:1px solid #F90;}
#group-items{border:1px solid  #CCC;}
.bg-info{background-color:#F90;}
.nav-tabs.nav-justified > li a{ color:#333;-webkit-transition-property:background-color;/*safari*/
                                                                    -webkit-transition-duration:1s;
																	transition-property:background-color;
																	transition-duration:1s;}
.nav-tabs.nav-justified > li a:hover{background-color:#F90;color:#FFF}		
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {border-color:#f90;}
																
#about{background-color:#FFF;}
.col-lg-12 col-sm-12 right-ha