---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Seemant Kulleen">
    <meta name="description" content="Oakland Finish Up Weekend">

    <meta name="cf-2fa-verify" content="a4ab03b59dc14e5">
    <title>Oakland Finish Up Weekend</title>

    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/theme.css" rel="stylesheet" type="text/css">
    <link href="css/full-slider.css" rel="stylesheet" type="text/css">
    <!-- Semantic markup -->
    {% include "semantics.html" %}

    <style>
        {% include "css/style.css" %}
    </style>

</head>

<body data-spy="scroll" data-target="#navbar-collapse-main">
  <!-- Navigation -->
  {% include "topnav.html" %}

  {% for section in website.content.layout %}
  {% include "{{ section }}.html" %}
  {% endfor %}

  <!-- Thanks -->
  {% include "thanks.html" %}

  <!-- Footnav -->
  {% include "footer.html" %}

  <!-- JavaScripts -->
  {% include "javascripts.html" %}
</body>

</html>
