<section class="jumbotron" id="about">
    <div class="container">
        <div class="row">
		{% for section in site.collections.sections.docs %}
		{% if section.name == "about" %}
            <div class="about col-lg-6 col-sm-push-6 col-sm-6">
				<h5 class="text-center">{{ section.subtitle }}</h5>
            	<h2>{{ section.title }}</h2>
				<span class="lead">{{ section.content }}</span>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/{{ section.image.file }}" alt="{{ section.image.alt }}">
            </div>
		{% endif %}
		{% endfor %}
        </div><!--.row-->
    </div><!--.container -->
</section><!--.pad-section#about-->

