<section class="jumbotron" id="contact">
	<div class="container">
		<div class="row text-center">
			<h2>Talk Up F'Up</h2>
		</div><!--.row-->
		<div class="col-lg-6 div-sm-12">
        	<a class="twitter-timeline"  href="https://twitter.com/hashtag/OaklandFinishUp" data-widget-id="580618085859721216">#OaklandFinishUp Tweets</a>
        	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="panel col-sm-12 col-lg-6">
			<div class="panel-body">
				<iframe src="https://docs.google.com/forms/d/1Jym_gHsuhKJtnkP0ybwMF2O7-BRYXFzVQ0kDYdv0fN4/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.container-->
</section><!--/#contact-->
