<header class="home" id="home">
	<div class="text-vcenter">
        <h2>48 Hours</h2>
        <h2>12 mentors</h2>
        <h2>1 weekend</h2>
        <h1>Oakland F'Up Weekend</h1>
        <h3>Anyone can start up. Successful people</h3>
		<h2><a class="btn btn-danger btn-lg smoothie" href="#about" role="button">
			<strong>Finish Up.</strong>
		</a></h2>

        <div class="col-md-6 col-sm-12">
            <h2>
				<a class="smoothie" href="#register">
					<i class="fa fa-huge fa-map-marker"></i>
				</a>
			</h2>
            <h3>Jack London Square, Oakland, CA</h3>
        </div><!--.col-md-6 col-sm-12-->
        <div class="col-md-6 col-sm-12">
            <h2>
				<a class="smoothie" href="#schedule">
					<i class="fa fa-huge fa-calendar"></i>
				</a>
			</h2>
            <h3>April 17 - 19, 2015</h3>
        </div><!--.col-md-6 col-sm-12-->
    </div>
</header><!--.home-->
