{% for section in site.collections.sections.docs %}
{% if section.name == "home" %}

<section class="home pad-section" >            
	<section class="slider">
        <div class="flexslider">
        	<ul class="slides">
            	<li>
                	<div id="slide1" class="slide-item">
          				<div class="tagsf">
            				<p><font color="#333333">Oakland Finish Up Weekend</font></p>
  	    	     		<div>
      					{% for subtitle in section.subtitles %}
        					<h2><font color="#333333">{{ subtitle }}</font></h2>
      					{% endfor %}
     					<h3><font color="#FFFFFF">{{ section.tagline }}</font></h3>
       					
    				</div>
               		<div class="row">
                        <div class="col-md-5 col-sm-12">
                            <h2><a class="smoothie icon" href="#register"><i class="fa fa-huge fa-map-marker"></i></a></h2>
                            {% assign venue = site.data.conference.venue %}
                            <h3><font color="#FFFFFF">{{ venue.location }} @ {{ venue.address }}</font></h3>
                            <h4><font color="#FFFFFF">{{ venue.neighborhood }}, {{ venue.city }}</font></h4>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <h2>
                                <a class="btn btn-danger btn-lg smoothie" href="#about" role="button"><strong>{{ section.button }}</strong></a>
                            </h2>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <h2><a class="smoothie icon" href="#schedule"><i class="fa fa-huge fa-calendar"></i></a></h2>
                            {% assign startdate = site.data.conference.schedule.start %}
                            {% assign enddate = site.data.conference.schedule.end %}
                            <h3>
                                <font color="#FFFFFF">
                                    <time datetime="{{ startdate | date_to_xmlschema }}">{{ startdate | date:"%B %d" }}</time>
                                    -
                                    <time datetime="{{ enddate | date_to_xmlschema }}">{{ enddate | date:"%d, %Y" }}</time>
                                </font>
                            </h3>
                        </div>
                    </div>
                </div>
  	    		</li>
  	    		<li>
  	    	   <div id="slide2" class="slide-item">
          <div class="tagss">
            	<p><font color="#CCCCCC">Incredible advice, delicious food in a stimulating venue</font></p>
                

  	    	     <div>
  	    		</li>
  	    		<li>
  	    	    <div id="slide3" class="slide-item">
          <div class="tagss">
            	<p><font color="#CCCCCC">12 incredible mentors helping you put your ideas into action</font></p>
  	    	     <div>
  	    		</li>
  	    		<li>
  	    	   <div id="slide4" class="slide-item">
          <div class="tagss">
            	<p><font color="#CCCCCC">Endless opportunities to network with fellow attendees</font></p>
  	    	     <div>
  	    		</li>
                <li>
  	    	    <div id="slide5" class="slide-item">
          <div class="tagss">
            	<p><font color="#CCCCCC">50 small business owners fine-tuning their business</font></p>
  	    	     <div>
  	    		</li>
                <li>
  	    	   <div id="slide6" class="slide-item">
          <div class="tagss">
            	<p><font color="#CCCCCC">Our mentors guide you, tweak your strategy and tune your way to success</font></p>
  	    	     <div>
  	    		</li>
                <li>
  	    	    <div id="slide7" class="slide-item">
          <div class="tagss">
            	<p><font color="#CCCCCC">For 48 hours, get coached, guided & inspired by top creative minds</font></p>
  	    	     <div>
  	    		</li>
          </ul>
        </div>
      </section>
        
        
        <!--<div id="carousel">
        	<div id="slide1" class="slide-item">
            	<h1>Oakland Finish Up Weekend</h1>
            </div>
            <div id="slide2" class="slide-item">
            	<h1>Oakland Finish Up Weekend 2</h1>
            </div>
            <div id="slide3" class="slide-item">
            	<h1>Oakland Finish Up Weekend 3</h1>
            </div>
        </div>-->
        <!--<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider"> 
            	<img src="demo/images/ban1.png" data-thumb="demo/images/ban1.png" alt="" /> 
                <img src="demo/images/ban2.png" data-thumb="demo/images/ban2.png" alt="" title="This is an example of a caption" />
                <img src="demo/images/ban3.png" data-thumb="demo/images/ban3.png" alt="" data-transition="slideInLeft" />
                <img src="demo/images/ban4.png" data-thumb="demo/images/ban4.png" alt="" data-transition="slideInLeft" />
                <img src="demo/images/ban5.png" data-thumb="demo/images/ban5.png" alt="" data-transition="slideInLeft" />
                <img src="demo/images/ban6.png" data-thumb="demo/images/ban6.png" alt="" data-transition="slideInLeft" />
                <img src="demo/images/ban7.png" data-thumb="demo/images/ban7.png" alt="" title="#htmlcaption" />
            </div>
  		</div>-->
    </div><!--.pic-wrapper-->
    <div class="clearfix"></div>
   
    
</section><!--.home-->
{% endif %}
{% endfor %}
