<header class="home pad-section" id="home">
{% for section in site.collections.sections.docs %}
{% if section.name == "home" %}
	<div class="text-vcenter text-center">
		{% for subtitle in section.subtitles %}
        <h2>{{ subtitle }}</h2>
		{% endfor %}
        <h1>{{ section.title }}</h1>
        <h3>{{ section.tagline }}</h3>
		<h2>
			<a class="btn btn-danger btn-lg smoothie" href="#about" role="button">
				<strong>
					{{ section.button }}
				</strong>
			</a>
		</h2>

        <div class="col-md-6 col-sm-12">
            <h2>
				<a class="smoothie" href="#register">
					<i class="fa fa-huge fa-map-marker"></i>
				</a>
			</h2>
            <h3>{{ site.location }}</h3>
        </div><!--.col-md-6 col-sm-12-->
        <div class="col-md-6 col-sm-12">
            <h2>
				<a class="smoothie" href="#schedule">
					<i class="fa fa-huge fa-calendar"></i>
				</a>
			</h2>
            <h3>{{ site.dates }}</h3>
        </div><!--.col-md-6 col-sm-12-->
    </div>
{% endif %}
{% endfor %}
</header><!--.home-->
