<header id="home">
	<h1>{{ site.title }}</h1>
	<section class="slider">
	<!-- from: https://codepen.io/medrupaloscil/pen/QWrowxK?editors=1100 -->
	{% for slide in site.data.website.slideshow %}
		<input type="radio" name="slide" id="t-{{ forloop.index }}"{% if forloop.first %} checked{% endif %}>
	{% endfor %}
		<div class="testimonials">
		{% for slide in site.data.website.slideshow %}
			<label class="item" for="t-{{ forloop.index }}">
				<img src="{{ slide.picture }}" alt="picture">
				<p>
					{{ slide.caption }}
				</p>
			</label>
		{% endfor %}
		</div><!--.testimonials-->
		<div class="dots">
		{% for slide in site.data.website.slideshow %}
			<label for="t-{{ forloop.index }}"></label>
		{% endfor %}
		</div><!--.dots-->
	</section><!--.slider-->
</header><!--/#home-->
