<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Boostrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Form validation -->
<script src="//cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.min.js"></script>

<!-- Google Maps -->
<script src="//maps.google.com/maps/api/js?sensor=true"></script>

<!-- Localize Google Map -->
<script src="js/main.js"></script>


<!-- Contact Form Validation -->
<!--
<script type='text/javascript' src='/static/forms/client/js/3464403325-formviewer_prd.js'></script>
<script type="text/javascript">
	H5F.setup(document.getElementById('ss-form'));
	_initFormViewer(
		"[100,,[[[188585114,[[2,102,,\x22So we can respond to you.\x22]\n]\n]\n]\n]\n]\n"
	);
</script>
-->
