<section class="pad-section" id="mentors">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-sm-12 text-center">
            	<div class="clearfix"></div>
            	<h2 class="section-heading">Mentors (Helping You F'Up)</h2>
				<p class="lead">They can handle whatever you throw at them.</p>
				<p class="lead"><strong>They're ready! <a class="smoothie" href="#register">Are you?</strong></a></p>
        	</div>
    	</div><!--.row-->

		{% for mentor in site.collections.mentors.docs %}
		{% assign mentornum = forloop.index %}
		{% assign remainder = mentornum | modulo:4 %}
		{% if remainder == 1 %}
		<div class="row">
		{% endif %}
			<div class="col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail mentor">
					<img src="/img/mentors/{{ mentor.photo }}">
					<div class="caption">
						<h3>{{ mentor.name }}</h3>
						<h4 class="company"><small>{{ mentor.role }}, <a href="http://{{ mentor.link }}" target="_blank">{{ mentor.company }}</a></small></h4>
						<div class="panel-group" id="accordion{{ mentornum }}" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="social{{ mentornum }}">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion{{ mentornum }}" href="#bio{{ mentornum }}" aria-expanded="true" aria-controls="bio{{ mentornum }}">Bio</a>
										<span class="text-right">
										{% for soc in mentor.social  %}
											<a href="http://{{ soc.link }}" target="_blank">
												<i class="fa fa-{{ soc.name }}"></i>
											</a>
										{% endfor %}
										</span>
									</h4>
								</div><!--.panel-heading-->
								<div id="bio{{ mentornum }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mentor{{ mentornum }}">
									<div class="panel-body">
										{{ mentor.output }}
									</div><!--.panel-body -->
								</div><!--.panel-collapse-->
							</div><!--.panel-->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="wiify{{ mentornum }}">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion{{ mentornum }}" href="#hcihy{{ mentornum }}" aria-expanded="true" aria-controls="hcihy{{ mentornum }}">How I can help you</a>
									</h4>
								</div><!--.panel-heading-->
								<div id="hcihy{{ mentornum }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mentor{{ mentornum }}">
									<ul class="list-group">
									{% for how in mentor.help %}
										<li class="list-group-item">{{ how }}</li>
									{% endfor %}
									</ul>
								</div><!--.panel-collapse-->
							</div><!--.panel-->
						</div><!--.panel-group-->
					</div><!--.caption-->
				</div><!--.thumbnail-->
			</div><!--.col-sm-4-->
		{% if remainder == 0 %}
		</div><!--.row-->
		{% endif %}
		{% endfor %}
		</div>
	</div><!--.container-->
</section><!--/#mentors-->
