{% assign name = "register" %}
<section id="{{ name }}">
	<div>
		<h2>Buy Your Tickets</h2>
		{% include quote.html %}
	</div><!--.row-->

	{% assign startdate = site.data.conference.schedule.start %}
	{% assign enddate = site.data.conference.schedule.end %}
	<div>
		<h4><time datetime="{{ startdate | date_to_xmlschema }}">{{ startdate | date:"%B %d" }}</time> - <time datetime="{{ enddate | date_to_xmlschema }}">{{ enddate | date:"%d" }}</time></h4>
	</div>
	<div class="vcard">
		{% assign venue = site.data.conference.venue %}
		<h4><span class="fn org">{{ venue.location }}</span> @ <span class="street-address">{{ venue.address }}</span></h4>
		<h4><span class="extended-address">{{ venue.neighborhood }}</span>, <span class="locality">{{ venue.city }}</span>, <span class="region">{{ venue.state }}</span></h4>
	</div><!--.vcard-->

	<!--Eventbrite widget-->
	<div>
		<iframe src="{{ site.data.conference.tickets.url }}"
			frameborder="0"
			height="100%" width="100%"
			vspace="0" hspace="0"
			marginheight="5" marginwidth="5"
			scrolling="auto"
			allowtransparency="true">
		</iframe>
	</div>
</section><!--.banner#register-->
