<section class="pad-section schedule" id="schedule">
	<div class="container">
		<div class="row">
            <div class="col-lg-5 col-sm-12 list-group highlevel">
				<h2>How F'Up Works</h2>
				{% for how in site.collections.howitworks.docs[0].steps %}
				<a href="#schedule" class="smoothie list-group-item">
					<h4 class="list-group-item-heading">Step {{ forloop.index }}: {{ how.item }}</h4>
					{% for detail in how.details %}
						<p class="list-group-item-text">{{ detail }}</p>
					{% endfor %}
				</a>
				{% endfor %}
            </div><!--left-half-->

			<div class="col-lg-7 col-sm-12">
				<h2>When to F'Up</h2>
				<div role="tabpanel">
					<ul class="nav nav-tabs nav-justified" role="tablist">
					{% for sched in site.collections.schedule.docs %}
						<li role="presentation" {% if forloop.first %} class="active"{% endif %}>
							{% capture day %}{{ sched.date | date: "%A" }}{% endcapture %}
							<a href="#{{ day }}" aria-controls="{{ day }}" role="tab" data-toggle="tab">
								<span><time datetime="{{ sched.date | date:"%F" }}">{{ day | capitalize }}</time></span>
							</a>
						</li>
					{% endfor %}
					</ul>

					<div class="tab-content">
					{% for sched in site.collections.schedule.docs %}
						{% capture day %}{{ sched.date | date: "%A" }}{% endcapture %}
						<div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ day }}">
							<div class="list-group">
							{% for event in sched.schedule %}
								<div class="list-group-item">
									{% capture datetime %}{{ sched.date }} {{ event.start }}{% endcapture %}
									<time class="bg-info" datetime="{{ datetime | date_to_xmlschema }}">{{ datetime | date:"%I:%M %p" }}</time>
									<h4 class="list-group-item-heading">{{ event.title }}</h4>
									<p class="list-group-item-text">{{ event.description }}</p>
								</div><!--.list-group-item-->
							{% endfor %}
							</div><!--.list-group-->
						</div><!--/#{{ day }}-->
					{% endfor %}
					</div><!--.tab-content-->
				</div><!--.tabpanel-->
			</div><!--right-half-->
		</div><!--.row-->
	</div><!--container-->
</section><!--.content-section-a-->

