<section class="pad-section schedule" id="schedule">
<div class="quote_slider">
<ul class="slides">
            <li><div id="slides1" class="slide-script">
            <p>"I was amazed at how many people arrived early on Sunday ready to go.
How focused people were to get the most out of the mentors and progress forward."
</p>
            </div>
            </li>
            <li><div id="slides2" class="slide-script">
            <p>"It's amazing what can get done in 30 minutes with someone who was a total stranger before then. I feel I got as much out of it for my business as the attendees did for theirs."</p>
            </div>
            </li>
            <li><div id="slides3" class="slide-script">
            <p>"Terrific event. Well organized, wonderful interactions solid business ideas and solutions. Great venue and food."</p>
            </div>
            </li>
            <li><div id="slides4" class="slide-script">
            <p>"It was an amazing experience! I met a lot of wonderful people, get some useful connections both from participants and fellow mentors."</p>
            </div>
            </li>
            <li><div id="slides5" class="slide-script">
            <p>I was amazed at how many people arrived early on Sunday ready to go.
How focused people were to get the most out of the mentors and progress forward.
</p>
            </div>
            </li>
            <li><div id="slides6" class="slide-script">
            <p>I love the time I was able to spend with mentors! It was very personal and I feel very confident moving forward.</p>
            </div>
            </li>
            <li><div id="slides7" class="slide-script">
            <p>The mentors as well as the event planners were so helpful and had so many resources for me. I met a lot of people who were on the same path as my self and it was a pleasure the entire weekend.</p>
            </div>
            </li>
            </ul>
</div>
	<div class="container">
    
		<div class="row text-center">
			<h2><font color="#484747">How &amp; When to Finish Up</font></h2>
			{% assign name = "schedule" %}
			{% include quote.html %}
		</div><!--.row-->
		<div class="row_sche">
            <!--<div class="col-lg-5 col-sm-12 left-half">
				{% include howitworks.html %}
            </div><!--left-half-->

			<div class="col-lg-12 col-sm-12 right-half">
				{% include schedule-day.html %}
			</div><!--right-half-->
		</div><!--.row-->
		<h3 class="text-center">{{ section.jump }}</h3>
	</div><!--container-->
</section><!--.content-section-a-->
