<script type="application/ld+json">
[{
    "@context" : "http://schema.org"
  ,  "@type" : "BusinessEvent"
  , "name" : "{{ site.title }}"
  , "url" : "{{ site.url }}"
  , "startDate" : "{{ conference.schedule.start | date_to_xmlschema }}"
  , "duration" : "P2D"
  , "location" : {
        "@type" : "Place"
      , "name" : "{{ conference.venue.location }}"
      , "sameAs" : "{{ conference.venue.website }}"
      , "address" : {
            "@type": "PostalAddress"
          , "streetAddress": "{{ conference.venue.address }} @ {{ conference.venue.neighborhood }}"
          , "addressLocality": "{{ conference.venue.city }}"
          , "addressRegion": "{{ conference.venue.state }}"
          , "addressCountry": "US"
        }
    }
  , "offers" : [
      {% for offer in conference.tickets.tickets %}
      {
          "@type": "Offer"
        , "url" : "{{ conference.tickets.url }}"
        , "category": "{{ offer.category }}"
        , "price": "{{ offer.price }}"
        , "priceCurrency": "USD"
        , "availability": "{{ offer.availability }}"
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  , "performers" : [
      {% for roll in mentors %}
      {% assign mentor = roll[1] %}
      {% if mentor.status == "active" %}
      {
          "@type" : "Person"
        , "image" : "/img/mentors/{{ mentor.photo }}"
        , "name" : "{{ mentor.name }}"
        , "url" : "{{ mentor.website }}"
      }{% unless forloop.last %},{% endunless %}
      {% endif %}
      {% endfor %}
    ]
  , "organizers" : [
      {% for owner in conference.organizers %}
      {
          "@type" : "Person"
        , "name" : "{{ owner.name }}"
        , "sameAs": "{{ owner.website }}"
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
}]
</script>
