<section class="jumbotron" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="sponsors col-lg-5 col-sm-6">
                <h2 class="section-heading">Sponsors (Helping us F'Up)</h2>
                <p class="lead">With thanks for their generosity and kindness.</p>
            </div><!--.col-lg-5-->
			<div class="col-lg-7 col-sm-6">
            {% for sponsor in site.data.sponsors %}
				<div class="thumbnail sponsor">
					<a href="http://{{ sponsor.url }}" target="_blank">
						<img src="/img/sponsors/{{ sponsor.logo }}">
					</a>
				</div><!--.thumbnail-->
            {% endfor %}
			</div>
			<h2>Want to <a class="smoothie" href="#contact">help us f'up</a>?</h2>
        </div><!--.row-->

    </div><!--.container-->
</section><!--/#sponsors-->


