header input[type="radio"] {
	position: absolute;
	bottom: 0;
	left: -1000%;
}

section.container {
	width: 100%;
	padding: 0 2em;
	margin: 0 auto;
}

.carousel-wrapper {
	position: relative;
}

.carousel-wrapper .images {
	display: grid;
}

.carousel-wrapper .images li {
	grid-column: 1;
	grid-row: 1;
	opacity: 0;
	transition: opacity 0.25s;
}

.carousel-wrapper .dots {
	position: absolute;
	bottom: 1.2rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.carousel-wrapper .dots li:not(:last-child) {
	margin-right: 1rem;
}

.carousel-wrapper .dots label {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 1px solid #fff;
	transition: background 0.25s;
}

.carousel-wrapper .dots label:hover {
	background: currentColor;
}


.carousel-wrapper .arrows label::before,
.carousel-wrapper .arrows label::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
	background-color: #fff;
	opacity: 0.5;
	transition: opacity 0.25s;
}

.featured-wrapper .arrows label::before {
	left: 1rem;
}

.featured-wrapper .arrows label::after {
	right: 1rem;
}

