/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
.home {
  color: black;
}

.home h1 {
  font-size: 5em;
}

.home .icon {
  color: #d9534f;
}

#schedule {
  background:
  linear-gradient(
      rgba(0,0,0,0.75),
      rgba(0,0,0,0.75)
  ),
  url(/img/marketing-pitch.jpg) no-repeat center center fixed;
}

#schedule h2 {
  color: white;
  text-align: center;
}

#about, #schedule {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#sponsors {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(/img/sponsors/portpirate.png) center;
}

.list-group-item > dd {
  margin-top: 1.2em;
}

footer {
  padding: 20px 0;
}

.thumbnail.sponsor > a> img {
  height: 65px;
}


span > time {
  font-weight: bold;
  font-size: 2rem;
}

span.text-right {
  float: right;
}

#schedule a.list-group-item {
  cursor: default;
}

.img-thumbnail {
  border: 2px solid transparent;
}

a.linkedin {
  color: #0077b5;
}

a.twitter {
  color: #55acee;
}

a.google-plus {
  color: #d34836;
}

a.facebook {
  color: #3b5998;
}

blockquote > footer {
  text-align: right;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.8);
}
