<!DOCTYPE html
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Seemant Kulleen">
    <meta name="description" content="Oakland Finish Up Weekend">

    <title>Oakland Finish Up Weekend</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Semantic markup -->
	{% include semantics.html %}
    

<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">


</head>

<body data-spy="scroll" data-target="#navbar-collapse-main">
	<!-- Navigation -->
	{% include topnav.html %}

	{% for section in site.data.website.layout %}
	{% include {{ section }}.html %}
	{% endfor %}

	<!-- Thanks -->
	{% include thanks.html %}

	<!-- Footnav -->
	{% include footer.html %}

	<!-- JavaScripts -->
	{% include javascripts.html %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    
    
  <!-- Syntax Highlighter -->
 

  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

  <!-- Modernizr -->
  <script src="js/modernizr.js"></script>
    
    
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    
    
 <script defer src="js/jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
		animationSpeed:1500,
		slideshowSpeed:5000,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
	  $('.quote_slider').flexslider({
        animation: "slide",
		controlNav: false,
		animationSpeed:1500,
		slideshowSpeed:5000,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>


  <!-- Optional FlexSlider Additions -->
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.mousewheel.js"></script>
  <script defer src="js/demo.js"></script>
    
</body>

</html>
