<!DOCTYPE html
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Seemant Kulleen">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Oakland Finish Up Weekend, aka Oakland F'Up Weekend">

    <title>Oakland F'Up Weekend</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-target="#navbar-collapse-main">
	<!-- Navigation -->
	{% include topnav.html %}

    <!-- Header -->
	{% include home.html %}

	<!-- About -->
	{% include about.html %}

	<!-- Mentors -->
	<hr>
	{% include mentors.html %}

	<!-- Schedule -->
	{% include schedule.html %}

	<!-- Sponsors -->
	<hr>
	{% include sponsors.html %}

	<!-- Register -->
	<hr>
	{% include register.html %}

	<!-- Contact Us -->
	<hr>
	{% include contact.html %}

	<!-- Thanks -->
	<hr>
	{% include thanks.html %}

	<!-- Footnav -->
	{% include footer.html %}

	<!-- JavaScripts -->
	{% include javascripts.html %}
</body>

</html>
